<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Update customer No. ' + customer.id}"></title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h3>Edit the customer</h3>
<form method="POST" th:action="@{/update-customer}" th:object="${customer}">
    <input type="number" hidden="hidden" name="id" th:value="${customer.id}">

    <label for="firstName">First name*:</label>
    <input type="text" name="firstName" size="50" th:value="${customer.firstName}">
    <span class="node" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error.</span><br>

    <label for="lastName">Last name*:</label>
    <input type="text" name="lastName" size="50" th:value="${customer.lastName}">
    <span class="node" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">First name error.</span><br>

    <label for="emailAddress">Email address*:</label>
    <input type="text" name="emailAddress" size="50" th:value="${customer.emailAddress}">
    <span class="node" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">First name error.</span><br>

    <label for="jobTitle">Job title:</label>
    <input type="text" name="jobTitle" size="50" th:value="${customer.jobTitle}"><br>

    <label for="mobilePhone">Mobile phone:</label>
    <input type="text" name="mobilePhone" size="50" th:value="${customer.mobilePhone}"><br>

    <label for="city">City:</label>
    <input type="text" name="city" size="50" th:value="${customer.city}"><br>

    <label for="webPage">Web page:</label>
    <input type="text" name="webPage" size="50" th:value="${customer.webPage}"><br>

    <span class="node">Required fields are marked as *</span><br>

    <input type="submit" value="Update">
</form>
</body>
</html>